body {
  outline: 2px dotted blue;
  padding: 1px 10px 3px 10px
}
pre {
  color: blue;
  font-weight: bold;
}
header {
  outline: 2px dotted orange;
  padding: 5px;
  margin-bottom: 10px;
}
h1, h2, h3 {
  outline: 2px dotted black;
  margin-left: 10px;
  margin-right: 10px;
}
main {
  outline: 2px dotted red;
  padding: 5px;
  margin-bottom: 10px;
}
nav {
  outline: 2px dotted purple;
}
ul {
  list-style: none;
}
li {
  display: inline;
  margin-right: 10px;
}
section, aside, p {
  outline: 2px dotted purple;
}
section {
  padding-bottom: 1px;
}
aside {
  padding-bottom: 1px;
}
p{
  margin-left: 10px;
  margin-right: 10px;
}
footer {
  outline: 2px dotted darkgray;
  margin-bottom: 10px;
  padding-bottom: 1px;
}