/* variables in css */
:root {
    --gutter: 15px;
    --bgc: tomato;
}

/* inherits from html */
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

/* zeroing out styles */
body, p, h1, h2, h3, ul, ol {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--bgc);
}

.container {
    background-color: #eee;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* common styles for all child elements via > */
.row > div {
    padding: 15px;
     margin: 0 auto;  /* for auto-leveling */
    background-color: wheat;
    border: 1px solid gray;
}

/* subtract the padding value added to the container */
.col-3 {
    width: calc(25% - var(--gutter));
}

.col-4 {
    width: calc(33.33% - var(--gutter));
}

.col-6 {
    width: calc(50% - var(--gutter));
}

.col-12 {
    width: calc(100% - var(--gutter));
}

/* media queries:
we write after the main styles! 
if separate files - connect strictly after the main css file!! 
the dimensions are taken from the bootstrap database.
media queries inherit properties from the media queries recorded above 
in the css file and media queries are written from a large screen size to a smaller one*/
@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
    }

    .col-lg-3 {
        width: calc(25% - var(--gutter));
    }
    
    .col-lg-4 {
        width: calc(33.33% - var(--gutter));
    }
    
    .col-lg-6 {
        width: calc(50% - var(--gutter));
    }
    
    .col-lg-12 {
        width: calc(100% - var(--gutter));
    }
}

@media screen and (max-width: 768px) {
    .col-md-3 {
        width: calc(25% - var(--gutter));
    }
    
    .col-md-4 {
        width: calc(33.33% - var(--gutter));
    }
    
    .col-md-6 {
        width: calc(50% - var(--gutter));
    }
    
    .col-md-12 {
        width: calc(100% - var(--gutter));
    }
}

@media screen and (max-width: 576px) {
    .col-sm-3 {
        width: calc(25% - var(--gutter));
    }
    
    .col-sm-4 {
        width: calc(33.33% - var(--gutter));
    }
    
    .col-sm-6 {
        width: calc(50% - var(--gutter));
    }
    
    .col-sm-12 {
        width: calc(100% - var(--gutter));
    }
}