@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Regular";
    margin: 0;
    height: 8587px;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    width: 1440px;
}

a {
    text-decoration: none;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section-btn li {
    padding-left: 90px;
    padding-right: 90px;
    padding: 15px 90px 15px 90px;
}

.section-btn li:first-child {
    margin-right: 12px;
    border: 1px solid #1FBD8A;
    border-radius: 50px;
    background-color: #fff;
}

.section-btn li:last-child {
    padding-right: 100px;
    border: 1px solid #192F44;
    border-radius: 50px;
    background-color: #192F44;
}

/*! Header */
header {
    position: relative;
    width: 100%;
}

header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: 0px 5px 10px rgba(1, 19, 9, 0.098);
}

.header-container {
    display: flex;
    align-items: center;
    height: 71px;
    background-color: #1FBD8A;
}

.header-logo {
    display: flex;
    padding-left: 177px;
    padding-right: 50px;
}

.header-nav {
    display: flex;
}

.header-nav-list {
    display: flex;
}

.header-nav-list a {
    color: #fff;
}

.header-nav-list li:not(:last-child) {
    margin-right: 42px;
}

.header-login-api {
    display: flex;
    align-items:center;
    padding-left: 225px;
}

#login {
    color: #fff;
}

#getApi {
    color: #000;
}

.header-login-api li:first-child {
    margin-right: 35px; 
}

.header-login-api li:last-child {
    padding: 8px 30px 8px 30px;
    border: 1px solid #fff;
    background: #F4FBF9;
    border-radius: 50px;
}

/*! Main */
.main-sections .main-section-1 {
    height: 1100px;
    background-color: #1FBD8A;
}

.section1-container {
    display: flex;
    flex-wrap: wrap;
}

.section1-left {
    width: 720px;
    height: 790px;
}

.section1-left span {
    position: relative;
    padding: 7px 15px 11px 15px;
    height: 33px;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    border: 1px solid #1FBD8A;
    border-radius: 33px;
    background-color: rgba(255, 255, 255, 0.25);
    top: 115px;
    left: 175px;
}

.section1-left h1 {
    position: relative;
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    height: 160px;
    width: 504px;
    left: 175px;
    top: 90px;
    color: #fff;
}

.section1-left p {
    position: relative;
    height: 78px;
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    left: 175px;
    top: 50px;
    color: #fff;
}

.section1-left .section-btn {
    display: flex;
    position: relative;
    width: 536px;
    left: 175px;
    top: 75px;
}

.section1-container .section-btn li:first-child a {
    color: #000;
}

.section1-container .section-btn li:last-child a {
    color: #fff;
}

.section1-right {
    width: 720px;
    height: 790px;
}

.section1-right img:first-child {
    position: relative;
    top: 20px;
    right: 21px;
}

.section1-right img:nth-child(2) {
    position: relative;
    left: 248px;
    bottom: 553px;
}

.section1-right img:nth-child(3) {
    position: relative;
    bottom: 632px;
    left: 248px;
}

.section1-right img:last-child {
    position: relative;
    bottom: 975px;
    left: 6px;
}

.section1-bottom {
    padding-top: 70px;
    padding-left: 155px;
    padding-right: 155px;
}

.main-sections .main-section-2 {
    height: 1150px;
    background-color: #FBFCF5;
}

.main-section-2 span {
    position: relative;
    height: 24px;
    width: 99px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #00CA90;
    top: 150px;
    left: 672px;
}

.main-section-2 h2 {
    position: relative;
    height: 56px;
    width: 782px;
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    color: #013A51;
    top: 125px;
    left: 329px;
}

.main-section-2 p {
    position: relative;
    height: 78px;
    width: 846px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #013A51;
    top: 102px;
    left: 297px;
}

.section2-container .section-btn {
    display: flex;
    position: relative;
    width: 600px;
    left: 460px;
    top: 103px;
}

.section2-container .section-btn li:first-child {
    padding-left: 58px;
    padding-right: 58px;
    background-color: #00CA90;
    color: #fff;
}

.section2-container .section-btn li:first-child a {
    color: #fff;
}

.section2-container .section-btn li:last-child a {
    color: #fff;
}

.section2-container img {
    position: relative;
    top: 165px;
    left: 175px;
}

.main-sections .main-section-3  {
    height: 1160px;
}

.section3-container {
    display: flex;
}

.section3-container div {
    width: 720px;
    height: 1160px;
}

.section3-left span {
    position: relative;
    height: 24px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00CA90;
    top: 146px;
    left: 174px;
}

.section3-left h2 {
    position: relative;
    height: 168px;
    width: 467px;
    font-size: 41px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
    top: 123px;
    left: 175px;

}

.section3-left p {
    position: relative;
    height: 168px;
    width: 518px;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
    top: 98px;
    left: 175px;
}

.section3-left-btn {
    position: relative;
    height: 16px;
    width: 75px;
    padding: 7px 40px 7px 40px;
    border: 2px solid #00CA90;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #013A51;
    top: 103px;
    left: 174px;
}

.section3-right .section3-right-article:nth-child(1) {
    position: relative;
    top: 149px;
    left: 100px;
}

.section3-right .section3-right-article:nth-child(2) {
    position: relative;
    top: 170px;
    left: 100px;
}

.section3-right .section3-right-article:nth-child(3) {
    position: relative;
    top: 218px;
    left: 100px;
}

.section3-right-article h3 {
    margin-top: 20px;
    height: 32px;
    width: 300px;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
}

.section3-right-article p {
    height: 88px;
    width: 430px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C7782;
}

.main-sections .main-section-4 {
    height: 1786px;
    background-color: #FBFCF5;
}

.section4-header {
    height: 390px;
}

.section4-header span {
    position: relative;
    height: 24px;
    width: 88px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #00CA90;
    top: 150px;
    left: 677px;
}

.section4-header h2 {
    position: relative;
    width: 747px;
    height: 112px;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #013A51;
    top: 125px;
    left: 345px;
}

.section4-header p {
    position: relative;
    width: 872px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #013A51;
    top: 100px;
    left: 284px;
}

.section4-main {
    height: 998px;
}

.section4-articles {
    display: flex;
    width: 480px;
    height: 180px;
}

.section4-articles h3 {
    height: 32px;
    width: 134px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
}

.section4-articles p {
    margin: 0;
    margin-bottom: 10px;
    width: 250px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C7782;
}

.section4-articles a {
    height: 20px;
    width: 76px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;     
}

.section4-articles div {
    padding-left: 30px;
}

.section4-articles:nth-child(1) {
    position: relative;
    top: 71px;
    left: 175px;
}

.section4-articles:nth-child(2) {
    position: relative;
    top: -110px;
    left: 732px;
}

.section4-articles:nth-child(2) div {
    position: relative;
    top: 9px;
}

.section4-articles:nth-child(3) {
    position: relative;
    top: -68px;
    left: 175px;
}

.section4-articles:nth-child(4) {
    position: relative;
    bottom: 250px;
    left: 732px;
    height: 200px;
}

.section4-articles:nth-child(4) div h3 {
    width: 250px;
    margin-bottom: 40px;
}

.section4-articles:nth-child(5) {
    position: relative;
    left: 175px;
    bottom: 195px;
}

.section4-articles:nth-child(6) {
    position: relative;
    left: 730px;
    bottom: 380px;
}

.section4-articles:nth-child(6) h3 {
    width: 200px;
}

.section4-articles:nth-child(7) {
    position: relative;
    left: 170px;
    bottom: 330px;
}

.section4-articles:nth-child(8) {
    position: relative;
    left: 730px;
    bottom: 515px;
}

.section4-footer {
    align-items: center;
}

.section4-footer h2 {
    position: relative;
    height: 43px;
    width: 348px;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    top: 15px;
    left: 545px;
}

.section4-footer p {
    position: relative;
    height: 78px;
    width: 894px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    left: 275px;
}

.section4-footer a {
    position: relative;
    top: 15px;
    left: 595px;
    padding: 15px 89px 19px 88px;
    height: 50px;
    width: 255px;
    color: #fff;
    border: 1px solid #FBFCF5;
    border-radius: 50px;
    background-color: #192F44;
}
 
.main-sections .main-section-5 {
    height: 685px;
    background-color: #0A2540;
}

.section5-container {
    display: flex;
    padding-top: 155px;
}

.section5-left {
    margin-left: 175px;
}

.section5-left span:nth-child(1) {
    display: block;
    height: 24px;
    width: 256px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00CA90;
}

.section5-left span:nth-child(2) {
    display: inline-block;
    height: 56px;
    width: 356px;
    margin: 0;
    margin-top: 10px;
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.section5-left p {
    height: 144px;
    width: 519px;
    margin-top: 20px;
    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.section5-container .section-btn {
    display: flex;
    position: relative;
    width: 600px;
}

.section5-container .section-btn li:first-child {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #00CA90;
    color: #fff;
}

.section5-container .section-btn li:last-child {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
    color: #0A2540;
}

.section5-container .section-btn li:first-child a {
    color: #fff;
}

.section5-container .section-btn li:last-child a {
    color: #0A2540;
}

.section5-right {
    margin-left: 50px;
}

.main-sections .main-section-6 {
    height: 972px;
}

.section6-container {
    display: flex;
}

.section6-right span:first-child {
    position: relative;
    width: 143px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #00CA90;
    top: 80px;
    left: 115px;
}

.section6-right p {
    position: relative;
    width: 546px;
    height: 121px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #013A51;
    top: 72px;
    left: 115px;
}

.section6-right .section6-right-double_quotes{
    position: relative;
    height: 52px;
    width: 56px;
    font-size: 52px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #00CA90;
    top: 95px;
    left: 115px;
}

.section6-right blockquote {
    position: relative;
    height: 337px;
    width: 559px;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
    top: 80px;
    left: 35px;
}

.section6-right figcaption a {
    position: relative;
    height: 20px;
    width: 100px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
    top: 75px;
    left: 75px;
}

.section6-logo {
    position: relative;
    top: 105px;
    left: 135px;
}

.section6-right-autors {
    position: relative;
    left: 207px;
}

.section6-right-autors p {
    margin: 0;
    padding: 0;
    max-width: 198px;
    height: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #013A51;
}

.section6-right .section6-btn {
    position: relative;
    padding: 15px 128px 19px 128px;
    height: 16px;
    width: 94px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #013A51;
    top: 126px;
    left: 116px;
    border: 2px solid #00CA90;
    border-radius: 50px;
}

.main-sections .main-section-7 {
    height: 979px;
}

.section7-container h2 {
    position: relative;
    padding: 0;
    margin: 0;
}

.section7-top {
    position: relative;
    z-index: 1;
    height: 553px;
    text-align: center;
}

.section7-top::before {
    content: "";
    position: absolute;
    z-index: 2;
    display: block;
    height: 328px;
    width: 1090px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F2F4E8 217.84%), #193844;
    border-radius: 30px;
    top: 150px;
    left: 175px;
}

.section7-top h2 {
    position: relative;
    z-index: 3;
    height: 48px;
    width: 502px;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    top: 225px;
    left: 470px;
}

.section7-top span {
    position: relative;
    z-index: 3;
    display: block;
    height: 56px;
    width: 397px;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    top: 225px;
    left: 520px;
}

.section7-top a {
    position: relative;
    z-index: 3;
    padding: 15px 89px 19px 88px;
    height: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    top: 275px;
    border: 1px solid #00CA90;
    border-radius: 50px;
    background-color: #00CA90;
}

.section7-bottom {
    height: 426px;
    text-align: center;
}

.section7-bottom span {
    position: relative;
    height: 24px;
    width: 109px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #00CA90;
    top: 75px;
}

.section7-bottom h2 {
    position: relative;
    height: 56px;
    width: 742px;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #013A51;
    top: 85px;
    left: 350px;
}

.section7-bottom a {
    position: relative;
    padding: 15px 103px 19px 103px;
    width: 74px;
    height: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #013A51;
    top: 160px;
    border: 2px solid #00CA90;
    border-radius: 50px;
}

.main-sections .color-sections378 {
    background-color: #F2F4E8;
}

/*! Footer */
.footer-container {
    padding-left: 175px;
    padding-right: 175px;
    height: 684px;
    background-color: #193844;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 141px;
    border-bottom: 2px solid #275668;
}

.footer-btn li {
    display: inline-block;
}

.footer-top .footer-btn li:first-child a {
    margin-right: 30px;
    height: 16px;
    width: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    
}

.footer-top .footer-btn li:last-child a {
    padding: 3px 40px 3px 40px;
    height: 16px;
    width: 87px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    border: 1px solid #00CA90;
    border-radius: 50px;
    background-color: #00CA90;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 428px;
    border-bottom: 2px solid #275668;
}

.footer-main h3 {
    height: 18px;
    width: 91px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.5999999046325684px;
    text-align: left;
    color: #fff;
}

.footer-main-product li:not(:last-child), 
.footer-main-use-cases li:not(:last-child), 
.footer-main-developers li:not(:last-child), 
.footer-main-about li:not(:last-child), 
.footer-main-faq li:not(:last-child) {
    margin-bottom: 17px;
}

.footer-main a {
    height: 19px;
    width: 143px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.footer-bottom {
    padding-top: 35px;
    color: #fff;
}





