<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <div class="container header-container">
            <div class="logo">
                <img src="./img/logo.png" alt="logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#" id="btn-home">HOME</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">PRICING TABLE</a></li>
                    <li><a href="#">HOW IT WORKS</a></li>
                    <li><a href="#">HAPPY CLIENTS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="info">
        <div class="container">
            <div class="info__inner">
                <div class="item">
                    <div class="number">2500</div>
                    <div class="text">Happy Clients</div>
                </div>
                <div class="item">
                    <div class="number">300</div>
                    <div class="text">Full notebooks</div>
                </div>
                <div class="item">
                    <div class="number">120</div>
                    <div class="text">Teammates</div>
                </div>
                <div class="item">
                    <div class="number">30</div>
                    <div class="text">Stores</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>