block headerVars 
  - let mainHeadingTitle = "Main Page";
  - let navMainPage = "#";
  - let navLearnHtml = "./learnHTML.html";


header This is header 
  h1 #{mainHeadingTitle} 
  nav 
    a(href=navMainPage) Main Page
    a(href=navLearnHtml) Learn HTML