block headerVars 
  - let navDefaultItem = "#";
  - let navItem = "./learnHTML.html";


header This is header 
  h1 Main Page 
  nav 
    a(href=navDefaultItem) Main Page
    a(href=navItem) Learn HTML
    block headerContent