extends head.pug

block headVars 
  - let siteTitle = "Learning HTML"

block headContent
  body This is body!!
    block headerVars 
  - let mainHeadingTitle = "Learning HTML"
  - let navMainPage = "./index.html"
  - let navLearnHtml = "#"

    include header