extends base.pug

block content
  body
    include header
      include caption 
        include nav
    main
      h2  Write HTML in PUG it's easy
      section
        h3 Create some paragraph
        p This paragraph create with Pug
      section
        h3 Here's the multi-line text
        p.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Iusto, eum exercitationem fuga totam cupiditate doloremque repellendus 
          adipisci facilis eos ex molestiae ipsam quam, neque eveniet iure assumenda 
          autem odit reiciendis!
        figure 
          figcaption And how I see it:
          pre.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Iusto, eum exercitationem fuga totam cupiditate doloremque repellendus 
            adipisci facilis eos ex molestiae ipsam quam, neque eveniet iure assumenda 
            autem odit reiciendis!
    footer